@import '../../shared/styles/flex-center.css';

.container {
    composes: flex-center-row;
}

.avatar {
    padding: 0 !important;
}

.username {
    color: #9DAEC4;
    font-size: 14px;
    margin: 0 2px 0 2px;
}