{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "templateStrings": true,
        "jsx": true
    },
    "rules": {
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "block-scoped-var": 0,
        "padded-blocks": 0,
        "comma-dangle": 0,
        "indent": [2, 4],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-console": 0,
        "no-alert": 0
    },
    "plugins": [
        "react"
    ]
}
