@import '../shared/styles/flex-center.css';

$defaultColor: #434343;

.toolbar {
    display: flex !important;
    background-color: $defaultColor !important;
    opacity: 0.9 !important;
}

.logo {
    align-self: center !important;
}

.tabs {
    margin-left: 1em;
    width: 30%;
    align-self: flex-end;
}

.right-items {
    width: 70%;
    margin-left: 10em;
    composes: flex-center-row;
    justify-content: flex-end;
}

.notifications {
    background-color: $defaultColor;
    padding: 0;
}