@import '../../../shared/styles/flex-center.css';

.default-font-weight {
    font-weight: 300;
}

.container {
    height: 50%;
    composes: flex-center;
    color: white;
}

.general {
    width: 100%;
    height: 50%;
    margin-left: 4em;
    font-size: 1.5em;
    composes: center-column-vertical;
    composes: default-font-weight;
}

.channel_owner {
    font-size: 18px;
    composes: default-font-weight;
}

.stats {
    width: 100%;
    height: 50%;
}

.viewers_subscribers {
    height: 50%;
    composes: center-column-vertical;
    composes: default-font-weight;
    font-size: 15px;
    margin-left: 3em;
}